<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concentration detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<style>
.click_2 {
width:14em;
height:2.25em;
font-size:1.25em;
}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="{{url_for('static', filename='js/video_management.js')}}"></script>
<script src="{{url_for('static', filename='js/input_management.js')}}"></script>
<script src="{{url_for('static', filename='js/show_element.js')}}"></script>
<script type="text/javascript">setInterval('yesnoCheck()', 500);</script>

<body onload="javascript: yesnoCheck(); open_video();">
    <h1>{% block title %} Configuration Menu {% endblock %}</h1>
    <br>
    <div class="flex-container">

    <div class = "menu">
        <div class = "menu-items">
        <form name="InputSelect" method="post" enctype="multipart/form-data">
            <label class = "menu-item" >Mode</label>
            <br>
            <div style="display:none;">

                <input name="Mode" id="Mode"
                       type = "number" value="{{ request.form['Mode'] }}">

            </div>

            <select name="ModeSelect" id="ModeSelect" onchange="select_to_input()" class="input" required>

                <option value="">--Please choose an option--</option>
                <option value="Configuration">Configuration</option>
                <option value="Run">Run</option>
<!--                <option value="Video">Video</option>-->

            </select>

            <div id="IfYes" class = "menu-item" style="display:none">

                <input type="file" class="input" accept="video/*">

            </div>

            <br>
            <br>

            <label class = "menu-item" >Camera ID</label>
            <br>
            <input type="number" step="1" name="Camera ID" class="input"
                   placeholder="0" min = "0" required
                   value="{{ request.form['Camera ID'] }}"></input>

            <br>
            <br>

            <label class = "menu-item">Distraction Time [s]</label>
            <br>
            <input type="number" step="1" name="Distraction Time" class="input"
                   placeholder="30" min = "0" required
                   value="{{ request.form['Distraction Time'] }}"></input>

            <br>
            <br>

            <label class = "menu-item" >Detection Confidence</label>
            <br>
            <input type="number" step="0.1" name="Detection Confidence" class="input"
                   placeholder="0.5"  min = "0" max = "1" required
                   value="{{ request.form['Detection Confidence'] }}"></input>

            <br>
            <br>

            <label class = "menu-item"  >Tracking Confidence</label>
            <br>
            <input type="number" step="0.1" name="Tracking Confidence" class="input"
                   placeholder="0.5" min = "0" max = "1" required
                   value="{{ request.form['Tracking Confidence'] }}"></input>

            <br>
            <br>
            <label class="menu-item"> Workspace File </label>
            <br>
            <div id="workspace" class = "menu-item">
                <input type="file" class="input"  value="{{ request.form['Workspace'] }}" name="workspace" accept="application/JSON"></input>

            </div>
            <br>
            <button type="submit" onclick="open_video()" class="click">Submit</button>
        </form>
        </div>
    </div>
    <div id="menu-background-pattern"></div>
    <div class="container" id="streaming" style="display:none">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="stream">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%" >
        </div>
        <br>
        <div style="text-align:center;">
            <button class="click_2"> <a href="save_and_quit">Save Workspace and Quit </a></button>
            <button class="click"> <a href="/"> Quit </a></button>
        </div>
    </div>
    </div>

    </div>

</body>
</html>