<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
</head>
<body>
    <h1>{% block title %} Configuration Menu {% endblock %}</h1>
    <form method="post">
        <label for="mode">Mode</label>
        <br>
        <input type="number" step="1" name="Mode"
               placeholder="Mode"
               value="{{ request.form['Mode'] }}"></input>
        <br>

        <label for="mode">Camera ID</label>
        <br>
        <input type="number" step="1" name="Camera ID"
               placeholder="Camera ID"
               value="{{ request.form['Camera ID'] }}"></input>
        <br>

        <label for="mode">Distraction Time</label>
        <br>
        <input type="number" step="1" name="Distraction Time"
               placeholder="In seconds"
               value="{{ request.form['Distraction Time'] }}"></input>
        <br>

        <label for="mode">Detection Confidence</label>
        <br>
        <input type="number" step="0.1" name="Detection Confidence"
               placeholder="From 0 to 1"
               value="{{ request.form['Detection Confidence'] }}"></input>
        <br>

        <label for="mode">Tracking Confidence</label>
        <br>
        <input type="number" step="0.1" name="Tracking Confidence"
               placeholder="From 0 to 1"
               value="{{ request.form['Tracking Confidence'] }}"></input>
        <br>

        <a href = "video_feed"><button type="submit">Submit</button>
    </form>

    <div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
</body>
</html>