<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Concentration detection</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" />
</head>
<body>
	<element onload = "concentration_detection_onload">
	<a href=run><button type = "submit" onclick = 'myfunction_clickevent()'> Run </button>
	<a href=info><button type = "submit" onclick = 'info_clickevent()'> Info </button>
    <div class="content">
    {% block content %} {% endblock %}
    </div>
</body>
</html>