<!DOCTYPE html>
<html lang='en'>
<style>
  h1 {text-align: center;
   color: white;
   font-size: 2.5em;
  }
  .center {text-align: center;}
    .menu {
  position:absolute;
  left: 1.5em;
  }
</style>
<head>
  <meta charset="utf-8" />
  <title>Concentration detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>
        Concentration detection
    </h1>
    <br> <br>
    <div class="center">
        <a href=configuration><button type = "submit" style="width:2.25;height:1.75em;font-size:1.25em;"> Configure and Run </button></a>
            <br><br>
        <br>
            <a href=showcase><button type = "submit" style="width:2.25;height:1.75em;font-size:1.25em;"> Showcase </button></a>
            <br><br>
        <br>
        <a href=info><button type = "submit" style="width:2.25;height:1.75em;font-size:1.25em;" > Instruction </button></a>
    </div>
    <div id="menu-background-pattern"></div>
</body>
</html>