<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concentration detection</title>
</head>
<body>
    <h1>
        Instruction
    </h1>
    <p> 1. In order to run application click 'Configure and Run' button in main menu. Where you will be able to either Configuration or Run Modes. </p>
    <p> 2. In either of the modes you will need to select Camera ID which will be used, Distraction Time which determines for how long you can be distracted without raising the alarm</p>
    <p> 3. Detection and Tracking Confidence are responsible for accuracy of Face Detection the bigger the value the more precise is the program. Values go from 0 to 1. It is recommended to set both at 0.5 </p>
    <p> 4. If you already configured the workspace once, you can load the workspace file and proceed to Run Mode</p>
    <p> 5. Otherwise, use Configuration Mode and first configure the workspace by raising your thumb up and looking straight into the corners of your workspace </p>
    <p> 6. After setting your workspace switch mode to Run</p>
    <p> 7. If you wish to save workspace click 'Save and Quit' button under the video feed</p>
    <p> 8. If you wish to have multiple workspaces saved please remember to rename downloaded json files as they can be overwritten</p>
</body>
</html>